@using MvcOnlineTicariOtomasyon.Models.Classes
@model Invoice
@{
    ViewBag.Title = "AddInvoice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<h2>Yeni Fatura Sayfası</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.InvoiceSerialNo)
    @Html.TextBoxFor(x => x.InvoiceSerialNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InvoiceSequenceNo)
    @Html.TextBoxFor(x => x.InvoiceSequenceNo, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Hour)
    @Html.TextBoxFor(x => x.Hour, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxAdministration)
    @Html.TextBoxFor(x => x.TaxAdministration, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DeliveringPerson)
    @Html.TextBoxFor(x => x.DeliveringPerson, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ReceiverPerson)
    @Html.TextBoxFor(x => x.ReceiverPerson, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>



