@using MvcOnlineTicariOtomasyon.Models.Classes
@model Personel
@{
    ViewBag.Title = "AddPersonel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";


}




<h2>Yeni Personel Ekleme</h2>
<br />
@using (Html.BeginForm("AddPersonel", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form class="form-group" method="post">
    @Html.LabelFor(x => x.PersonelName)
    @Html.TextBoxFor(x => x.PersonelName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelSurname)
    @Html.TextBoxFor(x => x.PersonelSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelImagePath)
    @*@Html.TextBoxFor(x => x.PersonelImagePath, new { @class = "form-control" })*@
    <input type="file" name="PersonelImagePath" />
    <br />
    @Html.LabelFor(x => x.Department)
    @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.value2, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

}